<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }} | {{ globals.projectName }}</title>
    <link rel="stylesheet" href="{{ globals.url }}/styles/markdown.css">
</head>
<body>
    {% include "../components/navigation.njk" %}
    {{ content | safe }}
</body>
</html>