---
layout: base
---

<header>
    <h1>{{ title }}</h1>
    {% if epic %} <span class="badge badge--black">Epic {{ epic }}</span> {% endif %}
    <p>{{ date | readableDate }}</p>
</header>

<hr>

<main>
  {{ content | safe }}
</main>